#canvas {
    position: absolute;
    top: -0px;
    z-index: 1;
}

body {
    height: 100dvh;
    overflow: hidden;
    background-image: linear-gradient(to left bottom, #06002a, #9d00ff);    
    font-family: "Space Grotesk", sans-serif;
    text-align: right;
    text-transform: uppercase;
}

h1, p {
    width: 95dvw;
    z-index: 2;
}

h1 {
    background: #FF00D4;
    background: linear-gradient(to left, #e7e7e7 0%, #ffffff 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 60px; 
    margin: 3rem 0 0 0;
}

p {
    color: white;
    font-size: 20px;
}

img {
    width: 100%;
}

.logo-container {
    position: absolute;
    left: 3rem;
    top: 3rem;
    width: 80px;
    z-index: 999;
}


.instruction {
    width: 400px;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

#message {
    display: none;
  }
  
  @media (max-width: 800px){
    #demo {
      display: none;
    }
  
    #message {
      display: flex;
      height: 100dvh;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 40px;
      text-align: center;
    }
  }